title: "Vaaruni Desai"
url: "https://vaaruni2797.github.io"
baseurl: "/vaarunidesai.github.io"

theme: minima

paginate: 5
paginate_path: "/blog/page:num/"

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-paginate
